.dentistProfileMap{
    max-width: 100px !important;
    height: auto !important;
}

.dentistMarker{
    max-width:300px;
    width:250px;
}

.details p {
    margin:0px !important;
}

.showSlots {
    color:white;
}