.dentistProfileMap{
    max-width: 100px !important;
    height: auto !important;
}

.dentistMarker{
    max-width:300px;
    width:250px;
}

.details p {
    margin:0px !important;
}

.showSlots {
    color:white;
}

#map,.loader{
    height: 100vh;
    width: 100%;
}

.marker-cluster{
    background-color: rgba(18,135,141,0.9);
    color:white;
    font-weight: 600;
    font-size: 1rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 30px !important;
}