a {
    color:white;
}

.notification {
    stroke:white;
}

.notification div {
  background-color: #8DC9CD;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
.fade-in-element {
  animation: fadeIn 0.2s ease-in-out;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
.fade-out-element {
  animation: fadeOut 0.2s ease-in-out;
}

@keyframes slideOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -100%;
  }
}
@keyframes slideIn {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
  }
}
.slide-out-element {
  position: relative;
  animation: slideOut 0.5s forwards;
}
.slide-in-element {
  position: relative;
  animation: slideIn 0.5s forwards;
}

.zUnder {
  position: relative;
  z-index: 1;
}

.zAbove {
  position: relative;
  z-index: 1000;
}

.hamburger svg {
  stroke:white;
}

.notification-container {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0px;
}

.notification-counter {   
  position: relative;
  top: -2px;
  left: 12px;
  background-color: rgba(212, 19, 13, 1);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 8px Verdana;
}